<app-search></app-search>
<app-tags></app-tags>
<!-- is visible when food is null/undefined OR length is 0 -->
<app-not-found [visible]="!foods || !foods.length" resetLinkText="Reset Search">
</app-not-found>
<ul>
    <!-- loops over foods array in .ts file and displays items below-->
    <li *ngFor="let food of foods">
        <!-- on click, link added to url where subscribe hears it and dynamically changes the pages data through a service api -->
        <a routerLink="/food/{{ food.id }}">

            <!-- use [] when data is dynamic -->
            <img [src]="food.imageUrl" [alt]="food.name" />
            <div class="content">
                <div class="name">
                    {{ food.name }}
                </div>
                <span class="favorite {{ food.favorite?'':'not' }}">
                  ❤
                </span>
                <div class="stars">
                    <star-rating [value]="food.stars" [totalstars]="5" checkedcolor="red" uncheckedcolor="black" size="22px" [readonly]="true">
                    </star-rating>
                </div>
                <div class="product-item-footer">
                    <div class="origins">
                        <span *ngFor="let origin of food.origins">
                          {{ origin }}
                        </span>
                    </div>
                    <div class="cook-time">
                        <span>🕒</span> {{ food.cookTime }}
                    </div>
                    <div class="price">
                        <span>
                        {{ food.price | currency}}
                      </span>
                    </div>

                </div>
            </div>
        </a>
    </li>
</ul>